.listing-container {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  box-shadow: 2px 2px 5px #222;
}

header, footer, section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 10px 5px;
}

.summaryImg {
	max-width: 100px;
	max-height: 100px;
}
